* {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
}
body, input, button {
  background-color: black;
  color: white;
}
h1 {
    font-weight: 600;
}
.input {
  width: 15rem;
}
img {
  border-radius: 3rem;
  width: 13rem;
}
.group {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  overflow: auto;
  justify-content: center;
}
.movie {
  display: flex;
  flex-direction: column;
  width: 14rem;
  justify-content: center;
  align-items: center;
  background-color: rgba(32, 32, 32, 0.507);
  padding: 10px;
  margin: 1rem;
  border-radius: 1rem;
}
